*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

.main-container{
    width: 100%;
    height: 100vh;
    /* background-image: url(./bg1.png); */
    background-position: center;
    background-size: cover;
    /* padding-left: 1%;
    padding-right: 1%; */
    position: relative;
    background-color: rgba(10, 12, 16);
}
.navigator{
    width: 100%;
    height: 18vh;
    /* border: 5px solid rgb(0, 0, 255); */
    display: flex;

}

.emptynav{
    width: 100%;
    height: 15vh;
    /* border: 5px solid rgb(221, 0, 246); */
    margin: auto;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    /* border: 5px solid red; */
    font-size: 20px;
    /* padding-left: 10%; */
    
}

/* .logoicon{
    width: 100px;
    cursor: pointer;
} */

/* .cart{
    width: 20px;
    cursor: pointer;
} */

nav{
    height: 60%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    /* border: 10px solid green; */

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
/* .content{
    
} */
.mid-section{
    /* border: 10px solid green; */
    margin-left: 50vh;
    margin-top: 15%;
    text-align: center;
    font-size: 200%;
}


.logo{
    /* min-width: 90%;
    min-height: 90%; */
    height: 100vh;
    /* border: 10px solid green; */
    position: absolute;
    bottom: 0vh;
    /* right: 30vh; */

}

img{
    max-width: 100%;
    max-height: 100%;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}

.catog-container{
    height: 100vh;
    width: 100%;
    background-image: url(./bg2.png);
    background-position: center;
    background-size: cover;
}

.products{
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-between;
}

.item{
    height: 400px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border-radius: 16px;
    transition: 1s;
}
.item:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    flex-grow: 0.2;
}

.products:hover .item{
    filter: blur(10px)
}

.products .item:hover{
filter: blur(0px);
}



#logodesign{
    background-image: url(./logodesign.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#webdesign{
    background-image: url(./webdesign.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#packaging{
    background-image: url(./packaging.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#advert{
    background-image: url(./bg2.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#art{
    background-image: url(./art.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.item p{
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid green; */
    border-radius: 16px 16px 0px 0px;
    font-size: 25px;
}

.top-catog{
    text-align: center;
    padding-top: 10px;
    font-size: 2em;
}

.contactbtn{
    display:flex;
    justify-content: center;

}

/* CSS */
button{
  appearance: none;
  background-color: #1A1A1A;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  max-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  width: 100%;
}


button:hover {
  color: antiquewhite;
  background-color: rgb(255, 49, 49);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid #ff6060;
}


.top-catog h1{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}


.top-btn{
    display: flex;
    justify-content: center;
}

.form-container{
    height: 100vh;
    background-color: black;
}


form { 
    max-width:500px; 
    margin: auto auto; 
    padding-top: 2%;
}

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }