*{
    margin: 0;
    padding: 0;
    color: antiquewhite;
}

.main-container{
    width: 100%;
    height: 100vh;
    /* background-image: url(./bg1.png); */
    background-position: center;
    background-size: cover;
    /* padding-left: 1%;
    padding-right: 1%; */
    position: relative;
    background-color: rgba(10, 12, 16);
}
.navigator{
    width: 100%;
    height: 18vh;
    /* border: 5px solid rgb(0, 0, 255); */
    display: flex;

}

.emptynav{
    width: 100%;
    height: 15vh;
    /* border: 5px solid rgb(221, 0, 246); */
    margin: auto;
}

.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    /* border: 5px solid red; */
    font-size: 20px;
    /* padding-left: 10%; */
    
}

/* .logoicon{
    width: 100px;
    cursor: pointer;
} */

/* .cart{
    width: 20px;
    cursor: pointer;
} */

nav{
    height: 60%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    /* border: 10px solid green; */

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
/* .content{
    
} */
.mid-section{
    /* border: 10px solid green; */
    margin-left: 50vh;
    margin-top: 15%;
    text-align: center;
    font-size: 200%;
}


.logo{
    /* min-width: 90%;
    min-height: 90%; */
    height: 100vh;
    /* border: 10px solid green; */
    position: absolute;
    bottom: 0vh;
    /* right: 30vh; */

}

img{
    max-width: 100%;
    max-height: 100%;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
}

.catog-container{
    height: 35vh;
    width: 100%;
    background-image: url(./bg2.png);
    background-position: center;
    background-size: cover;
}

.products{
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-between;
}

.item{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    border-radius: 16px;
    transition: 1s;
}
.item:hover{
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    flex-grow: 0.2;
}

#logodesign{
    background-image: url(./logodesign.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#webdesign{
    background-image: url(./webdesign.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#packaging{
    background-image: url(./packaging.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#advert{
    background-image: url(./advert.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

#art{
    background-image: url(./art.png);
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}


.item p{
    text-align: center;
    background-color: white;
    /* border: 2px solid green; */
    border-radius: 16px 16px 0px 0px;
    font-size: 25px;
}

.top-catog{
    text-align: center;
    /* padding-top: 5px; */
}